{% extends "cydhcp/cydhcp_base.html" %}

{% block content %}

    <h3>{{ vrf.name }}</h3>
    <br>
    {% if attrs %}
    <h3>Vrf Attributes</h4>
    {% for attr in attrs %}
        <table class="table">
            <thead>
                <th>{{ attr.key }}</th>
            </thead>
            <tbody>
                <tr><td>{{ attr.value }}</td></tr>
            </tbody>
        </table>
        {% endfor %}
        {% endif %}
        {% from 'cydhcp/cydhcp_macros.html' import display_networks %}
        {{ display_networks([vrf.network], vlan=True) }}
{% endblock %}
