
@media all and (max-width: 650px) {
    div#header {
        width: 640px;
    }
    div.settings-menu {
        width: 615px;
    }

}
@media all and (max-width: 980px) {
    div.container {
        width: 640px;
    }
    div.settings-menu {
        width: 615px;
    }
    div.settings-info {
        display: none;
    }
    div.settings-btn {
        display: inline;
    }


    div#header {
        h1 {
            margin-left: .5%;
            a {
                margin-left: .5%;
            }
        }
    }

    div#sidebar{
        visibility: hidden;
        font-size: 13px;
        opacity: 0;
        transition: all .25s;
        height: 10%;
        margin-right: .5%;
        width: 10px;
        position: fixed;
        top: 15%;
    }

    div#chevronfooter {
        display: inline;
    }

    #sidebar_toggle:checked ~ div#sidebar {
            z-index: 1;
            visibility: visible;
            opacity: 1;
            transition: all .5s;
            height: 100%;
            width: 15%;
    }

    #sidebar_toggle:checked ~ #chevronfooter {
        #chevron {
            #chevronimg {
                transform: scaleX(-1);
            }
        }
    }
    /* Pagination */
    div.pagination {
        margin: 18px 0 0 .5%;
        a {
          padding: 0 10px;
        }
    }

    .page-header {
        #title {
            margin-left: .5%;
        }
        #action-bar {
            float: right;
            margin-right: .5%;
        }
    }

    div.main {
        .content {
            width: 640px;
        }
    }
}

