@import "globals.scss";
@import "base_mobile.scss";

.container {
    margin: 0 auto;
    width: 960px;
    width: 1280px;
}

html {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

body, .content {
    background-color: $white;
}

p, h1, h2, h3, h4 {
    color: $black;
}

a {
    color: $dark-gray;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style-type: none;
}

hr {
    color: $white;
}

a, tr, li, div, span, h1, h2, h3 {
    @include transition(background .15s, color .25s);
}
input[type="radio"], input[type="checkbox"], .btn {
    cursor: pointer;
};

input[type="text"], input[type="search"], select {
    background: $white;
    border-radius: 2px;
    padding-left: 3px;
}
input[type="text"], input[type="search"] {
    color: $black;
    &.blur {
        color: $light-gray;
    }
}

.error {
    color: $red;
}

.messages {
    @include default-box-shadow();
    background: $light-gray;
    border-radius: 0 0 2px 2px;
    padding: 13px;
    text-align: center;
    li {
        color: $black;
        &.error {
            color: $red;
        }
    }
}

.delete-sprite:after {
    background-image: url(../img/delete.png);
    background-position: -40px 0;
    display: block;
    height: 16px;
    position: relative;
    width: 16px;
}

a.btn {
    background: $orange;
    border-radius: 2px;
    bottom: 0;
    color: $white;
    font-weight: normal;
    margin-right: 10px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    right: 0;
    transition: .1s .1s;
    &:hover {
        background: darken($orange, 10%);
    }
    &.hover:active {
        @include box-shadow(none);
        background: darken($orange, 5%);
        color: $white;
        cursor: pointer;
        transition: .25s 0s;
    }
    &.selected {
        @include box-shadow(none);
        background: darken($orange, 10%);
        color: $white;
        cursor: default;
    }
    &.red {
        background: $red;
        &:hover {
            background: lighten($red, 5%);
        }
        &:active {
            background: darken($red, 10%);
        }
    }
    &.cancel {
        background: $dark-gray;
        &:hover {
            background: lighten($dark-gray, 5%);
        }
        &:active {
            background: darken($dark-gray, 10%);
        }
    }
}

.center {
    text-align: center;
}

.hidden, a.btn.hidden.c {
    display: none;
}

#header {
    background-color: $black;
    height: 30px;
    padding-top: 5px;
}

.header-icon {
    width: 25px;
    height: 25px;
    display: block;
    position: relative;
    float: left;
    margin-left: 5px;
    &.home {
        background-image: url(../img/home.png);
        &:hover {
            background-image: url(../img/home-hover.png);
        }
        &.selected {
            background-image: url(../img/home-hover.png);
        }
    }
    &.logout {
        background-image: url(../img/logout.png);
        &:hover {
            background-image: url(../img/logout-hover.png);
        }
    }
    &.currentCtnr {
        background-image: url(../img/magnify-large.png);
        &:hover {
            background-image: url(../img/magnify-large-hover.png);
        }
        &.selected {
            background-image: url(../img/magnify-large-hover.png);
        }
    }
    &.settings {
        background-image: url(../img/settings.png);
        &:hover {
            background-image: url(../img/settings-hover.png);
        }
        &.selected {
            background-image: url(../img/settings-hover.png);
        }
    }
    &.menu {
        background-image: url(../img/menu.png);
        &:hover {
            background-image: url(../img/menu-hover.png);
        }
        &.selected {
            background-image: url(../img/menu-hover.png);
        }
    }
}

.header {
    width: auto;
    position: relative;
    float: left;
    &.buttons {
        float: none;
    }
    &.settings {
        margin-left: 35px;
    }
    &.search {
        float: right;
    }
}

.settings-btn-container {
    display: none;
}

.settings-info {
    display: inline;
}

.user-info {
    display: block;
    height: 25px;
    position: relative;
    color: $white;
    float: left;
    margin-left: 5px;
    .level {
        color:$white;
        cursor: default;
    }
}

#ctnr-change {
    position: relative;
    float: left;
    margin-left: 5px;
}

#setDefaultCtnr {
    #defaultCtnrBtn {
        color: $white;
        &:hover {
            cursor: pointer;
        }
    }
    position: relative;
    float: left;
    margin-left: 10px;
    width: auto;
}

.settings-menu {
    width: auto;
    height: 20px;
    margin: auto;
    padding: 13px;
    position: relative;
    background-color: $dark-gray;
    display: none;
    z-index: 2;
}
#sidebar_div {
    float: left;
    position: relative;
    width: 110px;
    height: 1000px;
    margin-right: 25px;
    display: none;
    &.displayed {
        display: block;
    }
}

#sidebar {
    z-index: 2;
    position: fixed;
    .expand {
        opacity: 0;
    }
    height: 100%;
    width: 110px;
    display: block;
    word-spacing: 100px;
    .nav-item:first-child .nav-link {
        border-radius: 2px 2px 0 0;
    }
    .nav-item:last-child .nav-link {
        border-radius: 0 0 2px 2px;
    }
    .nav-link {
        background: $black;
        border: 1px solid $dark-gray;
        border-right:2px solid $dark-gray;
        border-bottom:1px solid $dark-gray;
        border-top:1px solid $dark-gray;
        color: $white;
        display: block;
        padding: 13px;
        &.child {
            transition: margin-left .25s;
            background: $dark-gray;
            color: $white;
            border: none;
            border-left:2px solid $black;
            border-bottom:1px solid $black;
            border-top:1px solid $black;
            border-right:2px solid $black;
            &:hover {
                margin-left: 10px;
            }
            &.selected {
                background: $white;
                border-left:5px solid $orange;
                border-right: none;
                color: $black;
                margin-left: 10px;
                &:hover {
                    margin-left: 10px;
                }
            }
        }
        &:hover {
            background: $orange;
            text-decoration: none;
        }
        &.selected {
            background: $white;
            border-left:5px solid $orange;
            color: $dark-gray;
            &:hover {

            }
        }
    }
}

.main {
    clear: both;
    font-size: 13px;
    height: auto;
    padding-top: 13px;
    position: relative;
    .content {
        display: inline-block;
        float: right;
        margin-top: 13px;
        overflow: visible;
        // Container - sidebar width - sidebar gutter - gutter.
        // TODO: gridding.
        width: 825px;
        width: 1145px;
    }
}

.page-header {
    #title {
        display: inline;
    }
    #action-bar {
        float: right;
        margin-top: 5px;
    }
}

/* Pagination */
.pagination {
    height: 36px;
    margin: 18px 0;
    ul {
      display: inline-block;
      *display: inline;
      /* IE7 inline-block hack */
      *zoom: 1;
      margin-left: 0;
      margin-bottom: 0;
      border-radius: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    li {
      display: inline;
    }
    a {
      float: left;
      padding: 0 14px;
      line-height: 34px;
      text-decoration: none;
      border: 1px solid #ddd;
      border-left-width: 0;
      &:hover {
        background-color: #f5f5f5;
      }
    }
    .active a {
      background-color: $black;
      color: $orange;
      cursor: default;
    }
    .disabled {
      span {
        color: #999999;
        background-color: transparent;
        cursor: default;
      }
      a {
        color: #999999;
        background-color: transparent;
        cursor: default;
        &:hover {
          color: #999999;
          background-color: transparent;
          cursor: default;
        }
      }
    }
    li {
      &:first-child a {
        border-left-width: 1px;
        border-radius: 2px 0 0 2px;
      }
      &:last-child a {
        border-radius: 0 2px 2px 0;
      }
    }
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}

.exit-message {
    cursor: pointer;
    float: right;
    font-size: 15pt;
    color: $red;
}

#search-help {
    display: block;
    margin: 6px 0 13px;
}
#search-meta {
    margin-bottom: 26px;
}

.load {
    display: none;
    position: absolute;
    background: url('../img/loadingGif.gif')
                50% 50%
                no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 300px;
    height: 300px;
    opacity: 0.80;
    margin: auto;
}

.footer {
    background-color: $black;
    color: $white;
    font-size: 13px;
    padding: 3px;
    text-align: center;
    a {
        color: $white;
        display: block;
        position: relative;
        &:hover {
            text-decoration: underline;
        }
    }
}

/* Clearfix */
.c:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.c {
    display: inline-block;
}
html[xmlns] .c {
    display: block;
}
* html .c {
    height: 1%;
}
