@import "globals.scss";

form {
    &.page-form {
        @include img-box-shadow();
        background: $light-gray;
        border-radius: 5px;
        margin-bottom: 26px;
        padding-bottom: 26px;
        #record-form-title {
            left: 26px;
            padding-top: 13px;
            position: relative;
        }
        p {
            margin: 13px 0;
            left: 39px;
            position: relative;
            label {
                color: $dark-gray;
                display: inline-block;
                margin-bottom: 2px;
            }
        }
        ul.errorlist {
            color: $red;
            float: right;
            position: relative;
            right: 26px;
        }
        input[type="text"], select {
            display: block;
        }
        input[type="checkbox"] {
            left: 100px;
            margin-top: 2px;
            position: absolute;
        }
        hr {
            margin-bottom: 26px;
        }
        .cancel, .submit {
            bottom: 13px;
            float: right;
            position: relative;
        }
    }
}
