$black: rgb(10, 10, 20);
$dark-gray: rgb(50, 50, 60);
$light-gray: rgb(235, 235, 235);
$white: rgb(250, 250, 250);

$dark-blue: #002163;
$blue: #003399;
$light-blue: #A0B8E6;
$teal: #008D83;
$purple: #301E77;

$red: #FF0700;
$green: #00C90D;

@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin default-box-shadow() {
    @include box-shadow(1px 1px 2px #888888);
}

@mixin gradient($color1, $color2) {
    background-color: $color2;
    background-image: -webkit-gradient(linear, left bottom, left top, from($color1), to($color2));
    background-image: -webkit-linear-gradient($color1, $color2);
    background-image:    -moz-linear-gradient($color1, $color2);
    background-image:     -ms-linear-gradient($color1, $color2);
    background-image:      -o-linear-gradient($color1, $color2);
    background-image:         linear-gradient($color1, $color2);
}

@mixin radial-gradient($color1, $color2) {
    background: $color2;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from($color1), to($color2));
    background: -webkit-radial-gradient($color1, $color2);
    background: -moz-radial-gradient($color1, $color2);
    background: -ms-radial-gradient($color1, $color2);
    background: -o-radial-gradient($color1, $color2);
    background: radial-gradient($color1, $color2);
}
