form.search {
    margin-top: 13px;
}
a.search-help {
    display: block;
    margin: 6px 0 13px;
}
#search-meta {
    margin-bottom: 26px;
    h2 {
        margin-bottom: 3px;
    }
}

#search-help {
    h2 {
        margin-bottom: 13px;
    }
    table {
        margin-bottom: 26px;
    }
}
