@import "globals.scss";

.info_column, .actions_column, .remove_column {
    width: 50px;
}
table.table {
    clear: both;
    margin-bottom: 13px;
    padding: 13px 0;
    width: 100%;
    .minus:hover {
        position: relative;
        top: 2px;
    }
    .plus:hover {
        position: relative;
        top: 2px;
    }
    .update:hover {
        position: relative;
        top: 2px;
    }
    .delete:hover {
        position: relative;
        top: 2px;
    }
    .info:hover {
        position: relative;
        top: 2px;
        right: 2px;
    }
    .remove:hover {
        position: relative;
        top: 2px;
    }
    td, th {
        padding: 5px 0;
    }
    thead {
        background: $dark-gray;
        th {
            color: $white;
            a {
                color: $white;
                &:hover {
                    text-decoration: underline
                }
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
                word-wrap: break-word;
                a.btn {
                    white-space:nowrap;
                }
                max-width: 125px;
            }
            &:hover {
                background: darken($white, 10%);
            }
            &:nth-child(even) {
                background: $light-gray;
                &:hover {
                    background: darken($light-gray, 10%);
                }
            }
        }
    }
}
table {
    &.tablesorter {
      font-family: arial;
      background-color: #CDCDCD;
      margin: 10px 0pt 15px;
      font-size: 8pt;
      text-align: left;
      border: 1px solid #bbbbbb;
      thead tr th, tfoot tr th {
        background-color: #b3bbbb;
        border: 1px solid #FFF;
        font-size: 8pt;
        padding: 4px;
      }
      thead tr .header {
        background-image: url(images/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
      }
      tbody {
        td {
          color: #3D3D3D;
          padding: 4px;
          background-color: #FFF;
          vertical-align: top;
        }
        tr.odd td {
          background-color: #F0F0F6;
        }
      }
      thead tr {
        .headerSortUp {
          background-image: url(images/asc.gif);
        }
        .headerSortDown {
          background-image: url(images/desc.gif);
          background-color: #8dbdd8;
        }
        .headerSortUp {
          background-color: #8dbdd8;
        }
      }
      td {
        border-right: 1px solid #bbbbbb;
        border-bottom: 1px solid #bbbbbb;
        &:last-child, &.last, &:last-child, &.last {
          border-right-width: 0px;
        }
      }
    }
}
.editable-grid {
    float: right;
    margin-right: 1.5%;
}
