{% extends "core/core_detail.html" %}
{% from "base/tables.html" import render_table %}

{% block title %} User {{ obj.user.username }} {% endblock %}
{% block header %} User  {{ obj.user.username }} {% endblock %}

{% block action_bar %}
  {% if request.user.is_superuser and request.user.username != obj.user.username %}
    <a class="btn btn-primary" href="{{ url('become-user',
                                            username=obj.user.username) }}">
      Become User
    </a>
  {% else %}
    {% if request.session.become_user_stack and request.user.username == obj.user.username %}
      <a class="btn btn-primary" href="{{ url('unbecome-user') }}">
      Unbecome User
      </a>
    {% endif %}
    {% if request.user.username == obj.user.username or request.user.is_superuser %}
      <a class="btn btn-primary" href="{{ url('request-token') }}">
        Request API Token
      </a>
    {% endif %}
  {% endif %}
  {% if request.user.is_superuser or
      request.user.get_profile().has_perm(request, 2, obj_class='User') %}
  <a class="btn btn-primary" id="clone-perms-btn" href="#">
    Clone user permissions
  </a>
  {% endif %}
{% endblock %}
{% block form %}
  <div id="permissions-form-hidden" style="display: none">
      <form class="form" id="clone-perms-form" action="{{ url('clone-perms', user_id=obj.user.id) }}">
      <h3>Clone user permissions</h3>
      <div class="inner-form" id="hidden-inner-form">
        {{ user_perm_form.as_p() }}
      </div>
      <div class="form-btns">
        <hr>
          <a id="clone-perms-submit" class="btn" href="#">Clone</a>
          <a id="clone-perms-cancel" class="btn" href="#">Cancel</a>
      </div>
    </form>
  </div>
  {{ js('cyuser') }}
  {{ js('tags_js') }}
  {{ css('tags_css') }}
{% endblock %}

