{% extends "base/list.html" %}

{% set obj_type_perm = request.user.get_profile().has_perm(request, 2, obj_class=obj_type) %}

{% block view_metadata %}
  <span id="view-metadata"
        data-objType="{{ obj_type }}"
        data-prettyObjType="{{ pretty_obj_type }}"
        data-searchUrl="{{ url('cydns-search-record') }}"
        data-getUrl="{{ url('get-update-form') }}"
        data-domainsUrl="{{ url('get-all-domains') }}"
        data-csrfToken="{{ csrf_token }}">
  </span>
{% endblock %}

{% block action_bar %}
  {% if obj_type_perm %}
    <a id="btn js-create-object" class="btn js-get-form"
        data-kwargs='{"obj_type": "{{ obj_type }}",
                      "get_url": "{{ url('get-update-form') }}",
                      "pretty_obj_type": "{{ pretty_obj_type }}"}'>
        Create {{ pretty_obj_type }}
    </a>
  {% endif %}
{% endblock %}
