{% extends "base/list.html" %}

{% block title %}
    {{ record_type|prettify_record_type + "s" }}
{% endblock %}

{% block header %}
    {{ record_type|prettify_record_type + "s" }}
{% endblock %}

{% block sidebar %}
  {% include "cydns/includes/cydns_sidebar.html" %}
{% endblock %}

{% block action_bar %}
    <a class="btn" id="record-create">Create {{ a_or_an(record_type) }} {{ record_type|prettify_record_type }}</a>
    <a class="btn" id="record-search">Update {{ a_or_an(record_type) }} {{ record_type|prettify_record_type }}</a>
    <a class="btn" id="record-search-soa">View BIND File</a>
{% endblock %}

{% block form %}
  <span id="cydns-record"
        data-recordType="{{ record_type }}"
        data-searchUrl="{{ url('cydns-search-record') }}"
        data-getUrl="{{ url('cydns-get-record') }}"
        data-domainsUrl="{{ url('get-all-domains') }}">
  </span>

  <div id="search-dialog" class="hidden">
    <div>
      <label for="search-record">
        Search: <input type="text" id="record-searchbox" style="width: 400px;" value="">
      </label>
    </div>
  </div>
  <div id="search-soa-dialog" class="hidden">
    <div>
      <label for="soa-search">
        Search: <input type="text" id="soa-searchbox" style="width: 400px;" value="">
      </label>
    </div>
  </div>

  <div {% if not form.errors and object_list %}class="hidden"{% endif %} id="cydns-record-form">
    <form class="page-form" method="POST">
      <h2 id="record-form-title">{{ 'Update' if obj else 'Create' }}</h2>
      <div class="inner-form">
        {{ form.as_p() }}
      </div>
      <hr>
      <a class="btn submit c">Submit</a>
      <a class="btn cancel c" data-formId="cydns-record-form">Cancel</a>
    </form>
  </div>

  {{ js('cydns') }}
{% endblock %}
