{% extends "generic_listtable.html" %}
{% block list_name %}Server Models{% endblock %}

{% block create_new_url %}{{ url('server_model-create') }}{% endblock %}
{% block table_head %}
        <tr>
            <th>Vendor</th> 
            <th>Model</th> 
            <th>Description</th> 
            <th colspan="3">Actions</th>
        </tr>
{% endblock %}
{% block table_body %}
        {% for o in object_list %}
        <tr>
            <td>{{ o.vendor }}</td>
            <td>{% if o.id %}<a href="{{ url('user-system-list-by-model',o.id) }}">{{ o.model }}</a>{% else %} {{ o.model }}{% endif %}</td>
            <td>{{ o.description }}</td>
            <td><a href="{{ url('server_model-details', o.id) }}">Show</a></td>
            <td><a href="{{ url('server_model-update', o.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
{% endblock %}
