[submodule "vendor"]
	path = vendor
	url = git@github.com:mozilla/playdoh-lib
	ignore = dirty
[submodule "vendor-local/src/iscpy"]
	path = vendor-local/src/iscpy
	url = https://github.com/uberj/iscpy
