{% extends "cydhcp/cydhcp_detail.html" %}
{% from "base/tables.html" import render_table %}

{% set site = object %}
{% block title %}Site {{ site.get_full_name() }}{% endblock %}

{% block content %}
  {% if site.parent %}
    Parent:
    <a href='{{ site.parent.get_detail_url() }}'>
      {{ site.parent.get_full_name() }}
    </a>
  {% endif %}

  {{ render_table(request, site_table) }}

  {% if attrs_table %}
    <h3>Site Attributes</h3>
    {{ render_table(request, attrs_table) }}
  {% endif %}

  {% if child_sites_table %}
    <h3>Child Sites</h3>
    {{ render_table(request, child_sites_table) }}
  {% endif %}
  {% if networks_table %}
    <h3>Networks</h3>
    {% with page_obj = networks_table_page_obj %}
      {% include "base/includes/pagination.html" %}
    {% endwith %}
    {{ render_table(request, networks_table) }}
  {% endif %}

  {% if vlanless_networks_page_obj %}
    <h3>Vlan-less Networks</h3>
    {% with page_obj = vlanless_networks_page_obj %}
      {% include "base/includes/pagination.html" %}
    {% endwith %}
    {{ render_table(request, vlanless_networks_table) }}
  {% endif %}
{% endblock %}
