{% extends "cydhcp/cydhcp_base.html" %}
{% from "base/tables.html" import render_table %}

{% block title %}Site {{ site.get_full_name() }}{% endblock %}

<!--
{% block action_bar %}
  {% if site.get_update_url %}
    <a class="btn btn-primary" href="{{ site.get_update_url() }}">Edit</a>
  {% endif %}

  {% block mid_action_bar %}
  {% endblock %}

  {% if site.get_delete_url %}
    <a class="btn btn-danger" href="{{ site.get_delete_url() }}">Delete</a>
  {% endif %}
{% endblock %}
-->

{% block content %}
  {% if site.parent %}
    Parent:
    <a href='{{ site.parent.get_detail_url() }}'>
      {{ site.parent.get_full_name() }}
    </a>
  {% endif %}

  {{ render_table(request, site_table) }}

  {% if attrs_table %}
    <h3>Site Attributes</h3>
    {{ render_table(request, attrs_table) }}
  {% endif %}

  {% if child_sites_table %}
    <h3>Child Sites</h3>
    {{ render_table(request, child_sites_table) }}
  {% endif %}

  {% if networks_table %}
    <h3>Networks</h3>
    {% include "base/includes/object_table.html" %}
    {{ render_table(networks_table) }}
  {% endif %}

  {% if vlanless_networks_page_obj %}
    <h3>Vlan-less Networks</h3>
    {% set page_obj = vlanless_networks_page_obj %}
    {% include "base/includes/pagination.html" %}
    {{ render_table(no_vlan_networks) }}
  {% endif %}

{% endblock %}
