{% extends "core/core_detail.html" %}
{% from "base/tables.html" import render_table %}

{% block title %} User  {{ obj.user.username }} {% endblock %}
{% block header %} User {{ obj.user.username }} {% endblock %}

{% block action_bar %}
  {% if request.user.is_superuser and request.user.username != obj.user.username %}
    <a class="btn btn-primary" href="{{ url('become-user',
                                            username=obj.user.username) }}">
      Become User
    </a>
  {% else %}
    {% if request.session.become_user_stack and request.user.username == obj.user.username %}
      <a class="btn btn-primary" href="{{ url('unbecome-user') }}">
      Unbecome User
      </a>
    {% endif %}
  {% endif %}
{% endblock %}
