{% extends "base/base.html" %}
{% block title %} Systems {% endblock %}

{% block sidebar %}
    {% include "core/includes/core_sidebar.html" %}
{% endblock %}

{% block content %}
  <span id="rangeWizard"
        data-rangeWizard="{{ url('range-wizard') }}">
  </span>
{% endblock %}

{% block form %}
<form class="form" id="main-form" method="POST">
    <h3>Create a System</h3>
    <div class="inner-form" id="inner-form">
        {{ system_form.as_p() }}
    </div>
    <div class="form-btns">
        <hr>
        <a class="btn submit c" id="create-system" >Create System</a>
</div>
</form>
<div id="static-form" style="display: none">
    {{ static_form.as_p() }}
</div>
<div id="dynamic-form" style="display: none">
    {{ dynamic_form.as_p() }}
</div>
{{ js('systemform') }}
{% endblock %}

