{% extends "cydhcp/cydhcp_base.html" %}


{% block content %}
    <div class='dns-title'>{{ vlan }}</div>

        <table class="table">
            <thead>
                {% for item, _, value in vlan.details()['data'] %}
                    <th>{{ item }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for item, _, value in vlan.details()['data'] %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                {% for attr in attrs %}
                    <th>{{ attr.key }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for attr in attrs %}
                    <td>{{ attr.value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>

        {% from 'cydhcp/cydhcp_macros.html' import display_networks %}
        {{ display_networks(vlan.network_set.all(), vlan=False) }}
{% endblock %}
