{% extends "cydhcp/cydhcp_base.html" %}


{% block content %}
    <h3>Vlan</h3>
        <table class="table">
            <thead>
                {% for item, _, value in vlan.details()['data'] %}
                    <th>{{ item }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for item, _, value in vlan.details()['data'] %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        {% if attrs %}
        <h3> Vlan Attributes</h3>
        <table class="table">
            <thead>
                {% for attr in attrs %}
                    <th>{{ attr.key }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for attr in attrs %}
                    <td>{{ attr.value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        {% endif %}
        {% from 'cydhcp/cydhcp_macros.html' import display_networks %}
        {{ display_networks(vlan.network_set.all(), vlan=False) }}
{% endblock %}
