{% extends "base/base.html" %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% block site_tabs %}
        <div class="dns-menu">
                <div class="logo"><a href="/"><i class="icon-glass"></i></a></div>

                <!-- DNS NAV -->
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('domain-list') }}">Domains</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('address-record-list') }}">Address Records</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('reverse-domain-list') }}">Reverse Domains</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('mx-list') }}">MX</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('soa-list') }}">SOA</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('nameserver-list') }}">NS</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('srv-list') }}">SRV</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('txt-list') }}">TXT</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('cname-list') }}">CNAME</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('ptr-list') }}">PTR</a>
                        </span>
                        <span class="nav-item">
                            <a class="nav-link" href="{{ url('view-list') }}">Views</a>
                        </span>

        </div>
{% endblock %}

{% block content %}
<div class='dns-content'>
    {% block dns_content %}
    {% endblock %}
</div>
{% endblock %}
