{% extends "base/base.html" %}
{% from "base/tables.html" import render_table %}

{% block head %}
  {{ css('search') }}
{% endblock %}

{% block title %}Search{% endblock %}

{% block filter_bar %}
  <form class="search" action="/search/" method="get">
    <input type="search" name="search" value="{{ search if search else 'Search...' }}"></input>
    <a class="btn submit">Search</a>
  </form>
  <a class="search-help" href="{{ url('search-help') }}">Search Help</a>
{% endblock %}

{% block content %}
  {% if search %}
    <div id="search-meta">
      <h2>Results</h2>
      {% for m in meta %}
        {% if m[0] %}
          <a href="#{{ m[1] }}">{{ m[0] }} {{ m[2] }}</a>
          <span class="after-separator">|</span>
        {% endif %}
      {% endfor %}
    </div>

    <div id='search-time'></div>

    <div id='search-results'>
      {% for table in tables %}
        {% if table[0] %}
          <h3 name="{{ table[1] }}">{{ table[2] }}</h3>
          {{ render_table(request, table[0]) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
