{% extends "base/base.html" %}
{% from "base/tables.html" import render_table %}

{% set obj_type_perm = request.user.get_profile().has_perm(request, 2, obj_class=obj_type) %}

{% block title %}
  {{ obj_type|prettify_obj_type }}
{% endblock %}

{% block action_bar %}
  {% if obj_type_perm %}
    {% if obj.get_update_url %}
      <a class="btn btn-primary update" href="{{ obj.get_update_url() }}"
        data-pk="{{ obj.pk }}">Edit</a>
    {% endif %}
    {% if obj.get_delete_url %}
      <a class="btn btn-danger" id="delete" onclick="return confirm('Are you sure?');" href="{{ obj.get_delete_url() }}">Delete</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block view_metadata %}{% endblock %}

{% block form %}
  <div class="hidden" id="obj-form">
   <form class="form" method="POST">
     <h2 id="form-title">
       {{ 'Updating ' + obj_type|prettify_obj_type }}
     </h2>
     <div class="inner-form" id="hidden-inner-form"></div>
     <div class="form-btns">
       <hr>
       <a class="btn submit c">Update</a>
       <a class="btn cancel c" data-formId="obj-form">Cancel</a>
     </div>
   </form>
  </div>
{% endblock %}

{% block content %}
  {{ render_table(request, obj_table) }}
  {% for table in tables %}
    {% if table.table %}
      <h2>{{ table.name }}</h2>
      {% with page_obj = table.page_obj %}
        {% include "base/includes/pagination.html" %}
      {% endwith %}
      {{ render_table(request, table.table) }}
    {% endif %}
  {% endfor %}
{% endblock %}
