{% extends "base/base.html" %}

{% block title %}Systems{% endblock %}

{% block content %}
  <div id="search_hits"></div>
  <table class="display" id="datagrid">
  	<thead>
      <tr>
        <th>Host Name</th>
        <th>Serial</th>
        <th>Asset</th>
        <th>Model</th>
        <th>Rack</th>
        <th>OOB IP</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
  	</thead>
  	<tbody>
        <tr>
  		<td colspan="5" class="dataTables_empty">Loading data from server</td>
  	  </tr>
  	</tbody>
  </table>

  <script src="/media/js/lib/jquery.dataTables.fnSetFilteringDelay.js"></script>
{% endblock %}
