{% extends "base/base.html" %}

{% block title %}
  {% if object_list %}
    {{ object_list[0]|humanized_class_name + 's'}}
  {% endif %}
{% endblock %}

{% block header %}
  {% if object_list %}
    {{ object_list[0]|humanized_class_name + 's'}}
  {% endif %}
{% endblock %}

{% block action_bar %}
{% endblock %}

{% block content %}
  {% block form %}{% endblock %}

  {% if page_obj %}
    {% include "base/includes/pagination.html" %}
  {% endif %}

  <!-- Basic bootstrap table -->
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      {% if object_list %}
        <th>{{ object_list[0]|humanized_class_name }}</th>
        {% if object_list[0].views %}
        {% endif %}
      {% endif %}

    </tr>
    </thead>

    <tbody>
      {% if object_list %}
        {% for obj in object_list %}
          <tr><td><a href='{{ obj.get_absolute_url() }}'>{{ obj }}</a></td> </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

{% endblock %}
