{% extends "base/base.html" %}
{% from "base/tables.html" import render_table %}

{% block title %}{{ model_name|humanized_model_name + 's'}}{% endblock %}

{% block filter_bar %}
  <form action="." method="get">
    <input id="search-bar" type="search" name="filter" value="{{ request.GET['filter'] }}"></input>
    <a class='submit btn'>Filter</a>
    <label for="search-bar"></label>
  </form>
{% endblock %}

{% block action_bar %}
  <a class="btn" href="{{ Model.get_create_url() }}">
    Create {{ model_name|humanized_model_name }}
  </a>
{% endblock %}

{% block content %}
  {% block form %}{% endblock %}

  {% if page_obj %}
    {% include "base/includes/pagination.html" %}
  {% endif %}

  {% if page_obj and has_attr(page_obj[0], 'eg_metadata') %}
    <span id="eg" data-metadata="{{ page_obj[0].eg_metadata()|to_json }}"></span>
    <form id="enable-eg">
      <input type="checkbox" name="eg" id="enable-eg-check">
      <label for="enable-eg-check"> Enable spreadsheet view</label>
    </form>
  {% endif %}

  {% if object_table %}
    {{ render_table(request, object_table) }}
  {% elif page_obj %}
    {% include "base/includes/object_table.html" %}
  {% endif %}

  {{ js('tables') }}

{% endblock %}
