{% macro render_table(headers, matrix, urls, views=True) %}

<table class="table">
  <thead>
    <tr>
      {% for header in headers %}
        {# print header #}
        <th>{{ header }}</th>
      {% endfor %}
      {# if views %}
        <th>Views</th>
      {% endif #}
    </tr>
  </thead>

  <tbody>
    {% for row in matrix %}
      {% set outer_loop = loop.index0 %}
      <tr>
        {% for col in row %}
          {% set url = urls[outer_loop][loop.index0] %}
          <td>
            {% if url %}
              <a href='{{ url }}'>{{ col }}</a>
            {% else %}
              <p>{{ col }}</p>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endmacro %}
