{% macro render_table(object_table) %}
{% if object_table %}

<table id="egtable" class="table">
  <thead>
    <tr>
      {% for header in object_table['headers'] %}
        <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for row in object_table['data'] %}
      <tr id="{{ R ~ loop.index }}"{% for md in object_table['metadata'][loop.index0] %} data-{{ md[0] }}="{{ md[1] }}" {% endfor %}>
        {% for col in row %}
          <td>
            {% if col['url'] %}
              <a href="{{ col['url'] }}">{{ col['value'] }}</a>
            {% else %}
              {{ col['value'] }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}
{% endmacro %}
