{% extends "core/core_detail.html" %}
{% from "base/tables.html" import render_table %}

{% block title %}Container {{ object.name }}{% endblock %}
{% block header %}Container {{ object.name }}{% endblock %}

{% block content %}
  <span id="ctnr-data"
        data-ctnr-pk="{{ object.pk }}"
        data-searchUserUrl="{{ url('user-search') }}"
        data-addUserUrl="{{ url('ctnr-add-user', object.pk) }}">
  </span>

  {% if request.session.superuser or
        (request.session.ctnr == object and request.session.level == 2) %}
    <h3>Add User to Container</h3>
    <form id="add-user">
      {{ add_user_form }}
      <a id="add-user-ctnr" class="btn" href="#">Add</a>
    </form>
  {% endif %}

  {% if user_table %}
    <h3>Users</h3>
    {{ render_table(user_table) }}
  {% endif %}

  {% if domain_table %}
    <h3>Domains</h3>
    {{ render_table(domain_table) }}
  {% endif %}

  {% if rdomain_table %}
    <h3>Reverse Domains</h3>
    {{ render_table(rdomain_table) }}
  {% endif %}

  {{ js('ctnr') }}
{% endblock %}
