{% extends "core/core_detail.html" %}
{% from "base/tables.html" import render_table %}

{% block title %}Container {{ object.name }}{% endblock %}
{% block header %}Container {{ object.name }}{% endblock %}

{% block action_bar %}
  {% if request.session.superuser or (request.session.ctnr == object and request.session.level == 2) %}
    <a class="btn" href="{{ url('ctnr-add-user', object.id) }}">Add Users to Container</a>
  {% endif %}
{% endblock %}

{% block content %}

  {% if user_table %}
    <h3>Users</h3>
    {{ render_table(user_table) }}
  {% endif %}

  {% if domain_table %}
    <h3>Domains</h3>
    {{ render_table(domain_table) }}
  {% endif %}

  {% if rdomain_table %}
    <h3>Reverse Domains</h3>
    {{ render_table(rdomain_table) }}
  {% endif %}

{% endblock %}
