{% extends "cydns/cydns_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}


{% block extra_action_bar %}
  {% if request.user.get_profile().has_perm(request, 2, obj=obj) %}
    {{ create_button('soa_av', 'soa_av'|prettify_obj_type,
                     url('get-update-form'), url('soa_av'), obj_name=obj.description,
                     button_name="SOA Attribute") }}
  {% endif %}
  <a class="btn" href='/dns/bind/build_debug/{{ obj.pk }}/'>View BIND file</a>
  <h3>{{ obj.name }}</h3>
{% endblock %}
