{% extends "cydns/cydns_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}


{% block title %}{{ obj.description }}{% endblock %}

{% block extra_action_bar %}
  {% if request.user.get_profile().has_perm(request, 2, obj_class=obj_type) %}
    {{ create_button('soa_av', url('cydns-get-record'),
                     url('soa_av'), objName=obj.description,
                     buttonName="SOA Attribute") }}
  {% endif %}
  <a class="btn" href='/dns/bind/build_debug/{{ obj.pk }}/'>View BIND file</a>
  <h3>{{ obj.name }}</h3>
{% endblock %}
