<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Cyder{% block subtitle %}{% endblock %}{% endblock %}</title>
    {{ css('cyder_css') }}
    <link rel="shortcut icon" href="/media/img/favicon.ico">
    <link rel="icon" href="/media/img/favicon.ico">
    {% block head %}{% endblock %}

</head>
<body>

<div id="header">
    <div class="container">
        <h1 id="inventory"><a href="/">Cyder</a></h1>
    </div>
</div>
<div id="main" class="container">

    <img style="position: fixed; right: -25px; top: 50px;" src="/media/img/cyder.gif">

    <div id="hd">
        <div id="toptabs">
            <ul id="app-buttons">
                <li><a href="/">Systems</a></li>
                <li><a href="{{ url("system_rack-list") }}">Racks</a></li>
                {% if not read_only %}
                <li><a href="{{ url("user-system-list") }}">Unmanaged</a></li>
                <li><a href="{{ url("owner-list") }}">Owners</a></li>
                <li><a href="{{ url("license-list") }}">User Licenses</a></li>
                <li><a href="{{ url("build-list") }}">Release</a></li>
                <li><a href="{{ url("misc-list") }}">Misc</a></li>
                <li><a href="{{ url("core-index") }}">IPAM</a></li>
                <li><a href="{{ url("mozdns-index") }}">DNS</a></li>
                <li><a href="{{ url("truth-list") }}">Truth Database</a></li>
                <li><a href="{{ url("report-home") }}">Reporting</a></li>
                <li><a href="{{ url("oncall-view") }}">On Call</a></li>
                {% endif %}
            </ul>
        </div>
        {% block site_tabs %} {% endblock %}
    </div>
    <div id="bd">
        {{ js('cyder_js') }}
        {% block content %}{% endblock %}
    </div>
    <div id="ft">
    </div>
</div>
</body>
</html>
