{% extends "cydns/cydns_detail.html" %}
{% from "base/tables.html" import render_table %}


{% block title %}SOA {{ object.description }}{% endblock %}

{% block extra_action_bar %}
  <a class="btn" href='/dns/bind/build_debug/{{ object.pk }}/'>View BIND file</a>
{% endblock %}

{% block content %}
  {% if domain_table %}
    <h3>Domains</h3>
    {{ render_table(request, domain_table) }}
  {% endif %}

  {% if rdomain_table %}
    <h3>Reverse Domains</h3>
    {{ render_table(request, rdomain_table) }}
  {% endif %}
{% endblock %}
