{% extends "cydns/cydns_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}


{% block title %}SOA {{ object.description }}{% endblock %}

{% block extra_action_bar %}
  {{ create_button('soa_kv', url('cydns-get-record'),
                   url('soa_kv'), objName=object.description,
                   buttonName="SOA Attribute") }}
  <a class="btn" href='/dns/bind/build_debug/{{ object.pk }}/'>View BIND file</a>
  <h3>{{ object.name }}</h3>
{% endblock %}

{% block content %}

  {% if attributes %}
    <h3>Attributes</h3>
    {{ render_table(request, attributes) }}
  {% endif %}

  {% if domain_table %}
    <h3>Domains</h3>
    {{ render_table(request, domain_table) }}
  {% endif %}

  {% if rdomain_table %}
    <h3>Reverse Domains</h3>
    {{ render_table(request, rdomain_table) }}
  {% endif %}
{% endblock %}
