{% extends "base/base.html" %}
{% from "base/tables.html" import render_table %}
{% block title %}Administration {% endblock %}

{% block header %}Administration {% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" %}
{% endblock %}

{% block content %}
  <span id="view-metadata"
      data-searchUserUrl="{{ url('user-search') }}"
      data-csrfToken="{{ csrf_token }}">
  </span>
  <div id="obj-form">
    <form class="form" method="POST" action="{{ url('admin-page') }}">
      <h3>User Administration</h3>
      <div id="hidden-inner-form" class="inner-form">
        {{ user_form.as_p() }}
      </div>
      <div class="form-btns">
        <hr>
        <a class="btn js-submit c">Submit</a>
      </div>
    </form>
  </div>
  <div id=tables class=tableclass>
    {% if superuser_table %}
      <h3> Current Superusers </h3>
      {{ render_table(request, superuser_table, 'superuser_table') }}
    {% endif %}
    {% if user_table %}
      <h3> Users not in any Container </h3>
      {{ render_table(request, user_table, 'user_table') }}
    {% endif %}
  </div>
  {{ js('admin') }}
{% endblock %}
