{% extends "base/base.html" %}
{% from "base/tables.html" import render_table %}
{% block title %}Administration {% endblock %}

{% block header %}Administration {% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" %}
{% endblock %}

{% block content %}
<span id="data"
    data-SearchUserUrl="{{ url('user-search') }}"
</span>
<form class="form" id="Bug-Report" method="POST" action="">
  <h3>User Administration</h3>
  <div class="inner-form">
    {{ user_form.as_p() }}
    <input type="hidden" name="csrfmiddlewaretoken"
     value="{{ csrf_token }}"</input>
  </div>
  <div class="form-btns">
    <hr>
    <a class="btn submit c">Submit</a>
  </div>
</form>
<div id=tables class=tableclass>
    {% if superuser_table %}
      <h3> Current Superusers </h3>
      {{ render_table(request, superuser_table, 'superuser_table') }}
    {% endif %}
    {% if user_table %}
      <h3> Users not in any Container </h3>
      {{ render_table(request, user_table, 'user_table') }}
    {% endif %}

</div>
{{ js('admin') }}
{% endblock %}
