<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Cyder | {% block title %}Cyder{% endblock %}</title>
    <link rel="shortcut icon" href="/media/img/favicon.ico?v=3">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
    {{ css('cyder_css') }}
    {{ js('cyder_js') }}
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <div class="container">
        <span id="left-header">
          <a id="logout-btn" class="icon" href="{{ url('logout') }}"></a>
          <a id="home-btn" class="icon" href="/"></a>
          <a id="settings-btn" class="icon" href="#"></a>
          <a class="user-info name" href="{{ request.user.get_profile().get_detail_url() }}">
            {{ request.user.username }}:
          </a>
          <span class="user-info">
            <a class="level" href="{{ request.session.ctnr.get_detail_url() }}">
            {% if request.session.level == 0 %}
              guest on
            {% elif request.session.level == 1 %}
              user on
            {% else %}
              admin on
              {% endif %}
            </a>
          </span>
            <form id="ctnr-change" action="{{ url('ctnr-change') }}" method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"</input>
              <select name="ctnr_name" class="submit-on-change">
                {% for ctnr in request.session.ctnrs %}
                  {% if ctnr == request.session.ctnr %}
                      <option selected="selected" value="{{ ctnr }}">{{ ctnr.name }}</option>
                  {% else %}
                      <option value="{{ ctnr }}">{{ ctnr.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </form>
        </span>
        <span id="right-header">
          <form id="search" action="{{ url('search') }}" method="get">
            <input type="search" name="search" placeholder="Search...">
          </form>
        </span>
      </div>
    </div>
    <div class="settings-menu">
      <p class="ctnr">
        <form action="{{ url('ctnr-change') }}" method="post">
          <span>Container</span>
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"</input>
          <select name="ctnr_name" class="submit-on-change">
            {% for ctnr in request.session.ctnrs %}
              {% if ctnr == request.session.ctnr %}
                <option selected="selected" value="{{ ctnr }}">{{ ctnr.name }}</option>
              {% else %}
                <option value="{{ ctnr }}">{{ ctnr.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </form>
      </p>
      <p>
        <span class="ctnr-default">Set as default container?</span>
      </p>
    </div>
    <div class="container message">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="main wrap container">
      <input type="checkbox" id="sidebar_toggle">

      {% if self.sidebar() %}<div id="sidebar">{% endif %}
      {% block sidebar %}{% endblock %}
      {% if self.sidebar() %}</div>{% endif %}

      <div class="page-header">
        <h1 id="title">{{ self.title() }}</h1>
        <span id="action-bar" class="c">
            {% block action_bar %}{% endblock %}
            {% block extra_action_bar %}{% endblock %}
        </span>
        {% block filter_bar %}{% endblock %}
      </div>
      {% block view_metadata %}{% endblock %}
      <div class="content">
        {% block form %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
        <div id="chevronfooter">
          <label id="chevron" for="sidebar_toggle">
              <img id="chevronimg" src="/media/img/chevron.png"></img>
          </label>
        </div>
      </div>
    <div id="footer">
      <a href="https://github.com/OSU-Net/cyder">Source Code</a>
    </div>
  </body>
</html>
