<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge" >
    <title>Cyder | {% block title %}Cyder{% endblock %}</title>
    <link rel="shortcut icon" href="/media/img/favicon.ico?v=3">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
    {{ css('cyder_css') }}
    {{ js('cyder_js') }}
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <div class="container">
        <span class="header buttons" id="buttons-header">
          <a id="home-btn" class="header-icon home {{ 'selected' if '/' == request.path }}" href="/"></a>
          <a id="logout-btn" class="header-icon logout" href="{{ url('logout') }}"></a>
          <div class="settings-btn-container">
            <a id="settings-btn" class="header-icon settings" href="#"></a>
            <a id="menu-btn" class="header-icon menu" href="#"></a>
          </div>
        </span>
        <div class="header settings" id="settings-header">
            <a class="user-info name {{ 'selected' if
                 request.user.get_profile().get_detail_url() == request.path }}"
               href="{{ request.user.get_profile().get_detail_url() }}">
            {{ request.user.username }}:
          </a>
          <span class="user-info">
            <a class="level">
            {% if request.session.level == 0 %}
              guest on
            {% elif request.session.level == 1 %}
              user on
            {% else %}
              admin on
            {% endif %}
            </a>
          </span>
          <form id="ctnr-change" action="{{ url('ctnr-change') }}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <select name="ctnr_name" class="submit-on-change">
              {% for ctnr in request.session.ctnrs %}
                {% if ctnr == request.session.ctnr %}
                  <option selected="selected" value="{{ ctnr }}">{{ ctnr.name }}</option>
                {% else %}
                  <option value="{{ ctnr }}">{{ ctnr.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </form>
          <a id="ctnr-detail-btn"
             class="header-icon currentCtnr {{ 'selected' if
                request.session.ctnr.get_detail_url() == request.path }}"
             href="{{ request.session.ctnr.get_detail_url() }}"></a>
          <form id="setDefaultCtnr" action="{{ url('set-default-ctnr') }}" method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <a id="defaultCtnrBtn" class="submit">Set as default container?</a>
          </form>
      </div>

        </span>
        <span id="search-header" class="header search">
          <form id="search" action="{{ url('search') }}" method="get">
            <input type="search" name="search" placeholder="Search...">
          </form>
        </span>
      </div>
    </div>
    <div class="settings-menu">
      <a class="user-info name {{ 'selected' if
           request.user.get_profile().get_detail_url() == request.path }}"
         href="{{ request.user.get_profile().get_detail_url() }}">
         {{ request.user.username }}:
     </a>
     <span class="user-info">
       <a class="level">
       {% if request.session.level == 0 %}
         guest on
       {% elif request.session.level == 1 %}
         user on
       {% else %}
         admin on
       {% endif %}
       </a>
     </span>
     <form id="ctnr-change" action="{{ url('ctnr-change') }}" method="post">
       <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
       <select name="ctnr_name" class="submit-on-change">
         {% for ctnr in request.session.ctnrs %}
           {% if ctnr == request.session.ctnr %}
             <option selected="selected" value="{{ ctnr }}">{{ ctnr.name }}</option>
           {% else %}
             <option value="{{ ctnr }}">{{ ctnr.name }}</option>
           {% endif %}
         {% endfor %}
       </select>
     </form>
     <a id="ctnr-detail-btn"
        class="header-icon currentCtnr {{ 'selected' if
           request.session.ctnr.get_detail_url() == request.path }}"
        href="{{ request.session.ctnr.get_detail_url() }}"></a>
          <form id="setDefaultCtnr" action="{{ url('set-default-ctnr') }}" method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <a id="defaultCtnrBtn" class="submit">Set as default container?</a>
          </form>
    </div>
    <div class="container message">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="main wrap container">

      {% if self.sidebar() %}<div id="sidebar_div" class="displayed"><div id="sidebar">{% endif %}
      {% block sidebar %}{% endblock %}
      {% if self.sidebar() %}</div></div>{% endif %}

      <div class="page-header">
        <h1 id="title">{{ self.title() }}</h1>
        <span id="action-bar" class="c">
            {% block action_bar %}{% endblock %}
            {% block extra_action_bar %}{% endblock %}
        </span>
        {% block filter_bar %}{% endblock %}
      </div>
      {% block view_metadata %}{% endblock %}
      <div class="content">
        {% block form %}{% endblock %}
        {% block content %}
          <div id="front-page-links">
            <a class="front-page-link" href="/core/system">Register a new device (create a system)</a>
            <a class="front-page-link" href="/search/help">How to use search</a>
            <a class="front-page-link"
               href="http://is.oregonstate.edu/it-infrastructure/net/dns-dhcp/cyder/cyder-user-guide"
               >Cyder User Guide and Reference</a>
          </div>
        {% endblock %}
      </div>
    </div>
    <div id="footer" class="footer">
      <a class="footer source" href="https://github.com/OSU-Net/cyder">Source Code</a>
      <a id="bug-report" class="footer bug {{ 'selected' if url('bug-report') == request.path }}" href="{{ url('bug-report') }}">Report a Bug</a>
      <a id="linkware" class="footer linkware" href="http://www.visualpharm.com ">Icons provided by http://www.visualpharm.com</a>
    </div>
    <div id="busy-spinner"></div>
  </body>
</html>
