{% extends "base/base.html" %}
{% block title %}Bug Report {% endblock %}

{% block header %}Bug Report {% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" %}
{% endblock %}

{% block view_metadata %}
    <span id="view-metadata"
        data-csrfToken="{{ csrf_token }}">
    </span>
{% endblock %}

{% block content %}
  <form class="form" id="js-bugReport" method="POST" action="">
    <h3>Report a Bug</h3>
    <div class="inner-form">
      {{ form.as_p() }}
    </div>
    <div class="form-btns">
      <hr>
      <a id="js-bugReportSubmit" class="btn submit c">Submit</a>
    </div>
  </form>
  {{ js('bugreport') }}
{% endblock %}
