{% extends "base/base.html" %}
{% from "base/tables.html" import render_table, render_object %}

{% set obj_type_perm = request.user.get_profile().has_perm(request, 2, obj=obj) %}

{% block title %}
  {{ pretty_obj_type|smart_capitalize }} {{ obj.pretty_name }}
{% endblock %}

{% block action_bar %}
  {% if obj_type_perm %}
    {% if obj.get_update_url and obj_type != "ctnr" %}
      <a class="btn btn-primary js-get-form" href="{{ obj.get_update_url() }}"
          data-kwargs='{"obj_type": "{{ obj_type }}", "pk": "{{ obj.pk }}",
                        "pretty_obj_type": "{{ obj.pretty_type }}",
                        "get_url": "{{ url('get-update-form') }}",
                        "obj_name": "{{ obj.pretty_name }}"}'>
      Edit</a>
    {% endif %}
    {% if obj.get_delete_url %}
      <a class="btn btn-danger" id="delete" href="{{ obj.get_delete_url() }}"
         data-kwargs='{"obj_type": "{{ obj_type }}", "pk": "{{ obj.pk }}"}'>Delete</a>
    {% endif %}
  {% endif %}
{% endblock %}

{% block view_metadata %}{% endblock %}

{% block form %}
  <div class="hidden" id="obj-form">
   <form class="form" method="POST">
     <h2 id="form-title">
     </h2>
     <div class="inner-form" id="hidden-inner-form"></div>
     <div class="form-btns">
       <hr>
       <a class="btn submit c">Update</a>
       <a class="btn cancel c" data-formId="obj-form">Cancel</a>
     </div>
   </form>
  </div>
{% endblock %}

{% block content %}
  {{ render_object(request, obj_table) }}
  {% for table in tables %}
    {% if table.table or "Attributes" in table.name %}
      {% if "Attributes" in table.name %}
        {% if table.table %}
          <h3 class="attrs_title">{{ table.name }}</h3>
          {% with page_obj = table.page_obj %}
            {% include "base/includes/pagination.html" %}
          {% endwith %}
          {{ render_table(request, table.table, 'attrs_table') }}
        {% else %}
          {% include "base/attrs_table.html" %}
        {% endif %}
      {% else %}
        <h3>{{ table.name }}</h3>
        {% with page_obj = table.page_obj %}
          {% include "base/includes/pagination.html" %}
        {% endwith %}
        {{ render_table(request, table.table) }}
      {% endif %}
    {% endif %}
  {% endfor %} 
{% endblock %}
