{% extends "base/base.html" %}

{% block title %}
  {{ form_title }}
{% endblock %}

{% block header %}
  {{ form_title }}
{% endblock %}

{% block content %}
  <form class="form" method="post" action="">
    <h3>{% block form_title %}{{ form_title }}{% endblock %}</h3>
    <div class="subtext">
      {% block form_subtext %}{% endblock %}
    </div>
    <div class="inner-form">
      {{ form.as_p() }}
      {% block extra_inputs %}{% endblock %}
    </div>
    <div class="form-btns">
      <hr>
      <a class="btn submit">Submit</a>
    </div>
   </form>
{% endblock %}
