{% from 'base/includes/sidebar.html' import render_sidebar %}

<!-- CORE NAV -->
{{ render_sidebar(request, [
  ('core-index', 'Core',
    [('ctnr', 'Container'),
     ('interfaces', 'Interface'),
     ('system', 'System')]),
  ('cydns-index', 'DNS',
    [('cydns-index', 'DNS Statistics'),
    ('address_record', 'Address Record'),
    ('cname', 'CNAME'),
    ('domain', 'Domains'),
    ('nameserver', 'NS'),
    ('mx', 'MX'),
    ('ptr', 'PTR'),
    ('soa', 'SOA'),
    ('sshfp', 'SSHFP'),
    ('txt', 'TXT')]),
  ('cydhcp-index', 'DHCP',
    [('dynamic_interface', 'Dynamic Interface'),
     ('static_interface', 'Static Interface'),
     ('network', 'Network'),
     ('range', 'Ranges'),
     ('site', 'Site'),
     ('vlan', 'VLAN'),
     ('vrf', 'VRF'),
     ('workgroup', 'Workgroups')]),
  ]) }}

