{% extends "core/core_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}

{% set obj_type_perm = request.user.get_profile().has_perm(request, 2, obj=obj) %}

{% block view_metadata %}
  <span id="view-metadata"
    data-objType="{{ obj_type }}"
    data-objPk="{{ obj.pk }}"
    data-prettyObjType="{{ obj.pretty_type }}"
    data-getUrl="{{ url('get-update-form') }}"
    data-objName="{{ obj.name }}"
    data-csrfToken="{{ csrf_token }}">
  </span>
{% endblock %}



{% block extra_action_bar %}
  {% if request.user.get_profile().has_perm(request, 2, obj_class='static_interface') %}
    {{ create_button('static_interface', 'static_interface'|prettify_obj_type,
                     url('get-update-form'), url('static_interface'), obj_name=obj.name) }}
  {% endif %}
  {% if request.user.get_profile().has_perm(request, 2, obj_class='dynamic_interface') %}
    {{ create_button('dynamic_interface', 'dynamic_interface'|prettify_obj_type,
                     url('get-update-form'), url('dynamic_interface'), obj_name=obj.name) }}
  {% endif %}
  {% if obj_type_perm %}
    {{ create_button('system_av', 'system_av'|prettify_obj_type, url('get-update-form'),
                     url('system_av'), obj_name=obj.name, button_name="System Attribute") }}
  {% endif %}
{% endblock %}

{% block content %}
  {{ render_table(request, system_table, 'system') }}

  {% if attrs_table %}
    <h3 id="attr_title">System Attributes</h3>
    {{ render_table(request, attrs_table, 'attrs_table') }}
  {% else %}
    {% include "base/attrs_table.html" %}
  {% endif %}
  {% if static_intr_tables %}
    {% for table in static_intr_tables %}
      <h3>Static Interface</h3>
      {{ render_table(request, table[0]) }}
      {% if table[1] %}
        <h3>Static Interface Attrs</h3>
        {{render_table(request, table[1]) }}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if dynamic_intr_tables %}
    {% for table in dynamic_intr_tables %}
      <h3>Dynamic Interface</h3>
      {{ render_table(request, table[0]) }}
      {% if table[1] %}
        <h3>Dynamic Interface Attrs</h3>
        {{render_table(request, table[1]) }}
      {% endif %}
    {% endfor %}
    {% endif %}
  {% if related_systems_table %}
    <h3>Related Systems</h3>
    {{ render_table(request, related_systems_table) }}
  {% endif %}
{% endblock %}
