{% extends "base/base.html" %}
{% block title %} Systems {% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" %}
{% endblock %}

{% block view_metadata %}
  <span id="view-metadata"
      data-csrfToken="{{ csrf_token }}"
      data-initial_interface_type="{{ initial_interface_type }}">
  </span>
{% endblock %}

{% block form %}
  <div id="system-form">
    <form class="form" method="POST" objType="system-extended">
      <h3>Create a System</h3>
      <div class="inner-form" id="hidden-inner-form">
          {{ system_form.as_p() }}
          <div id="static-form" style="display: none">
            {{ static_form.as_p() }}
          </div>
          <div id="dynamic-form" style="display: none">
            {{ dynamic_form.as_p() }}
          </div>
      </div>
      <div class="form-btns">
          <hr>
          <a class="btn submit c" id="create-system">Create System</a>
      </div>
    </form>
  </div>
{{ js('systemform') }}
{% endblock %}

