{% macro render_sidebar(request, urls_names) -%}
  {% for named_url, name, children in urls_names %}
  <span class="nav-item parent" id="{{ name | lower }}-sidebar">
        <a class="nav-link {{ 'selected' if url(named_url) in request.path }}"
            href="#">{{ name }}</a>
    </span>
    <span id="{{ name | lower }}-sidebar-children"
        style="{{ 'display:none' if url(named_url) not in request.path }}">
    {% for child_named_url, child_name in children %}
    <span class="nav-item child">
        <a class="nav-link child {{ 'selected' if url(child_named_url) == request.path }}"
           href="{{ url(child_named_url) }}">{{ child_name }}</a>
    </span>
    {% endfor %}
    </span>

  {% endfor %}
{%- endmacro %}
