{% extends "cydhcp/cydhcp_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}
{% block title %}Workgroup {{ obj.name }}{% endblock %}

{% block view_metadata %}
  <span id="view-metadata"
    data-objType="{{ obj_type }}"
    data-objPk="{{ obj.pk }}"
    data-prettyObjType="{{ obj_type|prettify_obj_type + 's' }}"
    data-getUrl="{{ url('cydhcp-get-record') }}"
    data-objName="{{ obj.name }}">
  </span>
{% endblock %}

{% block extra_action_bar %}
  {% if request.user.get_profile().has_perm(request, 0, obj_class='WorkgroupAV') %}
    {{ create_button('workgroup_av', url('cydhcp-get-record'),
                     url('workgroup_av'), objName=obj.name,
                     buttonName="Workgroup Attribute") }}
  {% endif %}
{% endblock %}
