{% extends "cydhcp/cydhcp_detail.html" %}
{% from "base/tables.html" import render_table %}

{% set workgroup = object %}
{% set obj_type = object._meta.db_table %}

{% block title %}Workgroup {{ workgroup.name }}{% endblock %}

{% block content %}
  {{ render_table(request, workgroup_table ) }}
  {% if attrs %}
    <h3>Workgroup Attributes</h4>
    {{ render_table(request, attrs_table) }}
  {% endif %}
  {% if dynamic_hosts_table %}
    <h3>Dynamic Hosts in {{ workgroup.name }}</h3>
    {% with page_obj = dynamic_hosts_page_obj %}
      {% include "base/includes/pagination.html" %}
    {% endwith %}
    {{ render_table(request, dynamic_hosts_table) }}
  {% endif %}

  {% if static_hosts_table %}
    <h3>Static Hosts in {{ workgroup.name }}</h3>
    {% with page_obj = static_hosts_page_obj %}
      {% include "base/includes/pagination.html" %}
    {% endwith %}
    {{ render_table(request, static_hosts_table) }}
  {% endif %}

{% endblock %}
