{% extends "base/list.html" %}

{% set obj_type_perm = request.user.get_profile().has_perm(request, 2, obj_class=obj_type) %}

{% block view_metadata %}
  <span id="view-metadata"
        data-objType="{{ obj_type }}"
        data-prettyObjType="{{ pretty_obj_type }}"
        data-searchUrl="{{ url('cydhcp-search-record') }}"
        data-getUrl="{{ url('get-update-form') }}"
        data-csrfToken="{{ csrf_token }}">
  </span>
{% endblock %}

{% block action_bar %}
  {% if obj_type_perm %}
    {% if obj_type in ["static_interface", "dynamic_interface"] %}
    <a class="btn system_form a" href={{ url('system-create') }}
          id="system_create"
          data-kwargs='{"initial": "True",
                        "interface_type": "{{ obj_type }}"}'>
        Create {{ pretty_obj_type }}</a>
    {% else %}
      <a id="btn js-create-object" class="btn js-get-form"
          data-kwargs='{"obj_type": "{{ obj_type }}",
                        "get_url": "{{ url('get-update-form') }}",
                        "pretty_obj_type": "{{ pretty_obj_type }}"}'>
        Create {{ pretty_obj_type }}
      </a>
    {% endif %}
  {% endif %}

  {% if obj_type == 'range' %}
    {{ js('rangeform') }}
  {% endif %}

  {% if obj_type in ["static_interface", "dynamic_interface"] %}
    {{ js('systemform') }}
  {% endif %}
{% endblock %}
