{% extends "cydhcp/cydhcp_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}

{% block extra_action_bar %}
  {% if request.user.get_profile().has_perm(request, 2, obj=obj) %}
    {{ create_button('dynamic_interface_av', 'dynamic_interface_av'|prettify_obj_type,
                     url('get-update-form'), url('dynamic_interface_av'), obj_name=obj.mac,
                     button_name="Dynamic Interface Attribute") }}
  {% endif %}
{% endblock %}
