{% extends "core/core_list.html" %}

{% set pretty_obj_type = obj_type|prettify_obj_type %}
{% set obj_type_perm = request.user.get_profile().has_perm(request, 2, obj_class=obj_type) %}

{% block title %} {{ pretty_obj_type + "s" }} {% endblock %}

{% block sidebar %}
    {% include "core/includes/core_sidebar.html" %}
{% endblock %}

{% block action_bar %}
{% if obj_type_perm %}
  {% if pretty_obj_type == 'System' %}
    <a class="btn submit c" href={{ url('system-create', obj_type) }}>Create {{ a_or_an(obj_type) }} {{ pretty_obj_type }}</a>
  {% else %}
    <a class="btn create-obj" id={{ pretty_obj_type }}>Create {{ a_or_an(obj_type) }} {{ pretty_obj_type }}</a>
  {% endif %}
  {% endif %}
{% endblock %}
{% block form %}
  <span id="view-metadata"
        data-objType="{{ obj_type }}"
        data-prettyObjType="{{ pretty_obj_type }}"
        data-searchUrl="{{ url('core-search') }}"
        data-getUrl="{{ url('core-get-record') }}">
  </span>
  {% if obj_type_perm %}
    <div {% if not form.errors and object_table %}class="hidden"{% endif %} id="obj-form">
      <form class="form" method="POST">
        <h2 id="form-title">{{ 'Updating ' if obj else 'Creating ' + pretty_obj_type }}</h2>
        <div class="inner-form" id="hidden-inner-form">
          {{ form.as_p() }}
        </div>
        <div class="form-btns">
          <hr>
          <a class="btn submit c" id={{'Create' + pretty_obj_type }}>{{ 'Update' if obj else 'Create ' + pretty_obj_type }}</a>
          <a class="btn cancel c" data-formId="obj-form">Cancel</a>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
