{% extends "base/base.html" %}
{% from "base/tables.html" import render_table %}

{% block title %} {{ "Interfaces" }} {% endblock %}

{% block sidebar %}
  {% include "core/includes/core_sidebar.html" %}
{% endblock %}

{% block action_bar %}
{% endblock %}

{% block content %}
  {% if no_interfaces %}
      There are no interfaces in this container.
  {% else %}
      {% if obj_table %}
          {{ render_table(request, obj_table) }}
      {% else %}
        This feature is not available for the "global" container.
      {% endif %}
  {% endif %}
{% endblock %}
