{% extends "cydhcp/cydhcp_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}
{% block title %}Network {{ obj.network_str }}{% endblock %}

{% block view_metadata %}
  <span id="view-metadata"
    data-objType="{{ obj_type }}"
    data-objPk="{{ obj.pk }}"
    data-prettyObjType="{{ obj_type|prettify_obj_type + 's' }}"
    data-getUrl="{{ url('cydhcp-get-record') }}"
    data-objName="{{ obj.ip_str }}">
  </span>
{% endblock %}

{% block extra_action_bar %}
  {{ create_button('range', url('cydhcp-get-record'),
                   url('range'), objName=obj.ip_str) }}
  <a class="btn" href="{{ url('build-network', obj.pk) }}">DHCP Build Output</a>
{% endblock %}
