{% extends "cydhcp/cydhcp_base.html" %}
{% from "base/tables.html" import render_table %}


{% block title %}Network {{ network.network_str }}{% endblock %}

{% block action_bar %}
  <a href="{{ url('build-network', network.pk) }}">DHCP Build Output</a>
{% endblock %}

{% block content %}
  {{ render_table(request, network_table) }}

  {% if attrs_table %}
    <h3>Network Options</h3>
    {{ render_table(request, attrs_table) }}
  {% endif %}

  {% if parent_networks_table %}
    <h3>Parent Networks</h3>
      {{ render_table(request, parent_networks) }}
  {% endif %}

  {% if sub_networks_table %}
    <h3>Sub Networks</h3>
    {{ render_table(request, sub_networks) }}
  {% endif %}

  {% if ranges_table %}
    <h3>Ranges</h3>
    {{ render_table(request, ranges) }}
  {% endif %}
{% endblock %}
