{% extends "cydhcp/cydhcp_base.html" %}
{% block content %}
    <div id="json-data" type="hidden"></div>
    <style>
        form{
            display:none;
        }
    </style>
    <script>
        function post_form() {
            $.post('/cydhcp/network/wizard_create/', $("{{ action }}").serialize(), 
            function(data) {
                var state = '{{ action }}';
                var next_state = data.action;
                if
                console.log(state);
                    if(next_state != state) {
                        console.log("SUccess");
                        $(state).fadeOut('fast',function() {$(next_state).fadeIn('fast')});
                    }
                    else{
                        console.log("Fail");
                        console.log(data.form);
                        $(state).html(data.form);
                    }
                });
                return false;
          }
    </script>

    <form id="network_form" class="well form-horizontal" method="post" action="">
        {{ net_form.as_p() }}
        <input type="submit" value="Submit" onclick='post_form(); return false;'/>
        <input type="hidden" value="#network_form", name="action"/> 
    </form>
    <form id="site_form" class="well form-horizontal" method="post" action="">
        {{ site_form.as_p() }}
        <input type="submit" value="Submit" />
        <input type="hidden" value="site_form", name="action"/> 
    </form>
    <form id="vlan_form" class="well form-horizontal" method="post" action="">
        {{ vlan_form.as_p() }}
        <input type="submit" value="Submit" />
        <input type="hidden" value="vlan_form", name="action"/> 
    </form>
{% endblock %}
