{% extends "cydhcp/cydhcp_base.html" %}
{% block content %}
    <div id="json-data" type="hidden"></div>
    <style>
        form{
            display:none;
        }
    </style>

    <script>
        var state = '{{ action }}';
        function post_form() {
            $.post('/cydhcp/network/wizard_create/', $("{{ action }}").serialize(), 
            function(data) {
                var next_state = data.action;
                if(next_state != state) {
                    $(state).fadeOut('fast',function() {$(next_state).fadeIn('fast')});
                    state = next_state;
                }
                else{
                    $(state + ' .form_body').html(data.form);
                    state = next_state;
                }
            });
            return false;
        }
    </script>

    <form id="network_form" class="well form-horizontal" method="post" action="">
        <div class="form_body">
            {{ net_form.as_p() }}
        </div>
        <input type="submit" value="Submit" onclick='post_form(); return false;'/>
        <input type="hidden" value="#network_form", name="action"/> 
    </form>
    <form id="site_form" class="well form-horizontal" method="post" action="">
        <div class="form_body">
            {{ site_form.as_p() }}
        </div>
        <input type="submit" value="Submit" />
        <input type="hidden" value="site_form", name="action"/> 
    </form>
    <form id="vlan_form" class="well form-horizontal" method="post" action="">
        {{ vlan_form.as_p() }}
        <input type="submit" value="Submit" />
        <input type="hidden" value="vlan_form", name="action"/> 
        <div class="form_body">
            {{ site_form.as_p() }}
        </div>
        <input type="submit" value="Submit" onclick='post_form(); return false;' />
        <input type="hidden" value="#site_form", name="action"/> 
    </form>
    <form id="vlan_form" class="well form-horizontal" method="post" action="">
        <div class="form_body">
            {{ vlan_form.as_p() }}
        </div>
        <input type="submit" value="Submit" onclick='post_form(); return false;'/>
        <input type="hidden" value="#vlan_form", name="action"/> 
    </form>
{% endblock %}
