<script type="text/javascript">
function edit_lists(subject){
    var query = '';
    $('#' + subject.value + ' input:checked').each(function() {
            query += '&' + (subject.name) + '=' + ($(this).val());
    });
    if (query != ''){
        $.ajax({
            type: "POST",
            url:  location.href,
            data: query,
            dataType: 'json',
            success: function(data){
                var ranges = '';
                ranges += '<h3>Ranges</h3>';
                    for (var i = 0; i <(data.ranges[0].length); i++){
                        ranges += '<a href="/dhcp/range/' + data.ranges[1][i]
                        +'/">' + data.ranges[0][i] + '</a><br>';
                    }
                    ranges += '</select>';
                var sites = '';
                    for (var i = 0; i <(data.sites.length); i++){
                        sites += '<input type="checkbox" name="sites" id="sites" value="'
                        + data.sites[i] + '">' + data.sites[i] + '</input><br>';
                    }
                var vrfs = '';
                    for (var i = 0; i <(data.vrfs.length); i++){
                        vrfs += '<input type="checkbox" name="vrfs" id="vrfs" value="'
                        + data.vrfs[i] + '">' + data.vrfs[i] + '</input><br>';
                    }
                var networks = '';
                    for (var i = 0; i <(data.networks.length); i++){
                            networks += '<input type="checkbox" name="networks" id="networks" value="'
                            + data.networks[i] + '">' + data.networks[i] + '</input><br>';
                    }
                $("#Ranges").html(ranges);
                $("#Sites").html(sites);
                $("#Vrfs").html(vrfs);
                $("#Networks").html(networks);
            }
        });
        return false;
    }
}
</script>

{% extends "base/base.html" %}
{% from "base/tables.html" import render_table %}

{% block title %} Network Wizard {% endblock %}
{% block header %} Network Wizard {% endblock %}

{% block sidebar %}
    {% include "cydhcp/includes/cydhcp_sidebar.html"%}
{% endblock %}

{% block content %}

<div id="selects" style="display: inline-block;width:640px;">
  <div id="Vrfs" style="height:150;width:200px;overflow:auto;border:2px solid;display: inline-block;">
    {% for vrf in request.session.vrfs %}
      <input type="checkbox" name= "vrfs" id="vrf" value="{{ vrf }}">{{ vrf }} </input><br>
    {% endfor %}
  </div>
  <div id="Sites" style="height:150;width:200px;overflow:auto;border:2px solid;display: inline-block;">
    {% for site in request.session.sites %}
      <input type="checkbox" name = "sites" id="site" value="{{ site }}">{{ site }} </input><br>
    {% endfor %}
  </div>
  <div id="Networks" style="height:150;width:200px;overflow:auto;border:2px solid;display: inline-block;">
    {% for network in request.session.networks %}
      <input type="checkbox" id="net" name="networks" value="{{ network }}">{{ network }} </input><br>
    {% endfor %}
  </div>
</div>
<div id=buttons>
  <input type="button" name= "vrfs" id="submit" value="Vrfs" onclick="edit_lists(this);"></input>
  <input type="button" name= "sites" id="submit" value="Sites" style="position: relative; left: 165px;" onclick="edit_lists(this);"></input>
  <input type="button" name= "networks" id="submit" value="Networks" style="position: relative;left: 325px;" onclick="edit_lists(this);"></input>
</div>
<div name="Ranges" id="Ranges" style="height:auto;"></div>
{% endblock %}

