{% extends "cydhcp/cydhcp_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}
{% block title %}
  Range {{ obj.start_str }} to {{ obj.end_str }}
{% endblock %}

{% block view_metadata %}
  <span id="view-metadata"
    data-objType="{{ obj_type }}"
    data-objPk="{{ obj.pk }}"
    data-prettyObjType="{{ obj_type|prettify_obj_type + 's' }}"
    data-getUrl="{{ url('cydhcp-get-record') }}"
    data-objName="{{ obj.ip_str }}">
  </span>
{% endblock %}

{% block extra_action_bar %}
  {% if request.user.get_profile().has_perm(request, 2, obj_class=obj_type) %}
    {{ create_button('range_kv', url('cydhcp-get-record'),
                     url('range_kv'), objName=obj.start_str,
                     buttonName="Range Attribute") }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if obj.network.pk %}
    <a href="{{ url('build-network', obj.network.pk) }}">DHCP Build Output</a>
  {% endif %}

  {{ render_table(request, ranges_table) }}

  {% if allow_list %}
    <h3>Allowed</h3>
    <table class="table">
        <thead><th>Allowed</th></thead>
        <tbody>
          {% for allow in allow_list %}
            <tr><td>{{ allow }}</td></tr>
          {% endfor %}
        </tbody>
    </table>
  {% endif %}

  {% if attrs_table %}
    <h3>Range Attributes</h3>
    {{ render_table(request, attrs_table) }}
  {% endif %}

  {% if range_data %}
    <h3>Range Usage: {{ range_used }}</h3>
    {% with page_obj = range_data %}
      {% include "base/includes/pagination.html" %}
    {% endwith %}
    <table class="table">
      <thead>
        <th>IP</th>
        <th>Object</th>
        <th>View or Create</th>
      </thead>
      <tbody>
        {% for x in range_data %}
          {% if x[0] == 'Free' %}
          <tr>
              {% if x[1] == x[2] %}
                <td>{{ x[1] }}</td>
              {% else %}
                <td>{{ x[1] }} - {{ x[2] }}</td>
              {% endif %}
              <td>Free</td>
              <td>
                {% if request.user.get_profile().has_perm(request, 2, obj_class='address_record') %}
                  {{ create_button('address_record',
                                   url('cydns-get-record'),
                                   url('address_record'),
                                   data=x[-1],
                                   button_prefix="") }}
                {% endif %}
                {% if request.user.get_profile().has_perm(request, 2, obj_class='ptr') %}
                  {{ create_button('ptr',
                                   url('cydns-get-record'),
                                   url('ptr'),
                                   data=x[-1],
                                   button_prefix="") }}
                                   {% endif %}
                {% if request.user.get_profile().has_perm(request, 2, obj_class='staticinterface') and obj.range_type == 'st' %}
                  <a class="btn submit a" href={{ url('system-create', x[1].__str__()) }}>Static Interface</a>
                {% endif %}
                <td>
            </tr>
          {% else %}
            {% for record_ip, record_set in x %}
              {% for record in record_set %}
                <tr>
                  <td>{{ record_ip }}</td>
                  <td>{{ record._meta.db_table|prettify_obj_type }}</td>
                  {% if record.get_detail_url() %}
                    <td><a href="{{ record.get_detail_url() }}">{{record}}</a></td>
                  {% else %}
                    {% if record.domain %}
                      <td><a href="{{ record.domain.get_detail_url() }}">{{record}}</a></td>
                    {% elif record.reverse_domain %}
                      <td><a href="{{ record.reverse_domain.get_detail_url() }}">{{record}}</a></td>
                    {% else %}
                      <td>{{record}}</td>
                    {% endif %}
                  {% endif %}
                </tr>
              {% endfor %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
