{% extends "cydhcp/cydhcp_base.html" %}


{% block content %}
    <div class='dns-title'>{{ object }}</div>
    <!--
    {% block action_bar %}
        {% if object.get_update_url %}
            <a class="btn btn-primary" href="{{ object.get_update_url() }}">Edit</a>
        {% endif %}

        {% block mid_action_bar %}
        {% endblock %}

        {% if object.get_delete_url %}
            <a class="btn btn-danger" href="{{ object.get_delete_url() }}">Delete</a>
        {% endif %}
        {% endblock %} -->

        {% from "base/tables.html" import render_table %}

        <table class="table">
            <thead>
                {% for item, _, value in object.details()['data'] %}
                    <th>{{ item }}</th>
                {% endfor %}
            </thead>

            <tbody>
                <tr>
                {% for item, _, value in object.details()['data'] %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
{% endblock %}
