{% extends "base/detail.html" %}
{% from "base/tables.html" import render_table %}

{% block sidebar %}
  {% include "cydhcp/includes/cydhcp_sidebar.html" %}
{% endblock %}

{% block view_meta_data %}
  <span id="view-metadata"
        data-objType="{{ obj_type }}"
        data-prettyObjType="{{ obj_type|prettify_obj_type + 's' }}"
        data-getUrl="{{ url('cydhcp-get-record') }}">
  </span>
{% endblock %}

{% block content %}
  <div class='dns-title'>{{ object }}</div>

  <table class="table">
    <thead>
      {% for item, _, value in object.details()['data'] %}
      <th>{{ item }}</th>
      {% endfor %}
    </thead>

    <tbody>
      <tr>
        {% for item, _, value in object.details()['data'] %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock %}
