{% extends "base/base.html" %}

{% block sidebar %}
  <!-- DHCP NAV -->
  <span class="nav-item">
    <a class="nav-link" href="/cydhcp/site/">Site</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href="/cydhcp/network/">Network</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href="/cydhcp/network/wizard_create/">Network Wizard</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href="/cydhcp/vlan/">Vlan</a>
  </span>
  <span class="nav-item">
    <a class="nav-link" href="/cydhcp/range/">Range</a>
  </span>
{% endblock %}

{% block title %}DHCP{% endblock %}

{% block content %}{% endblock %}
