<div class="pagination .pagination-left">
  <ul>
  <li><a href="?page=1">First</a></li>
  {% if page_obj.has_previous() %}
    <li>
      <a href="?page={{ page_obj.previous_page_number() }}">Prev</a>
    </li>
  {% else %}
    <li class="disabled">
      <a href="#">Prev</a></li>
  {% endif %}
    </li>

  {% for page in range(1, page_obj.paginator.num_pages + 1) %}
    {# Divide range of pages into 10 so it doesn't fill up screen.
       e.g. 100-page-paginator would show 0...10...20...30 #}
    {% if page % (page_obj.paginator.num_pages / 12)|round == 0 or page_obj.paginator.num_pages < 10 %}
      {% if page_obj.number == page %}
        <li class="active">
          <a href="#">{{ page }}</a>
        </li>
      {% else %}
        <li>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next() %}
    <li>
      <a href="?page={{ page_obj.next_page_number() }}">Next</a></li>
  {% else %}
    <li class="disabled">
      <a href="#">Next</a></li>
  {% endif %}
    </li>
    <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
  </ul>
</div>
