<div class="pagination">
  <ul>
  <li><a href="?page=1">First</a></li>
  {% if object_list.has_previous() %}
    <li>
      <a href="?page={{ object_list.previous_page_number() }}">Prev</a>
    </li>
  {% else %}
    <li class="disabled">
      <a href="#">Prev</a></li>
  {% endif %}
    </li>

  {% for page in range(1, object_list.paginator.num_pages + 1) %}
    {# Divide range of pages into 10 so it doesn't fill up screen.
       So 100-page-paginator would show 0...10...20...30 #}
    {% if object_list.paginator.num_pages / 10 == 0 or object_list.paginator.num_pages < 10 %}
      {% if object_list.number == page %}
        <li class="active">
          <a href="#">{{ page }}</a>
        </li>
      {% else %}
        <li>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if object_list.has_next() %}
    <li>
      <a href="?page={{ object_list.next_page_number() }}">Next</a></li>
  {% else %}
    <li class="disabled">
      <a href="#">Next</a></li>
  {% endif %}
    </li>
    <li><a href="?page={{ object_list.paginator.num_pages }}">Last</a></li>
  </ul>
</div>
