{% extends "cydhcp/cydhcp_detail.html" %}
{% from "base/tables.html" import render_table %}
{% from "base/utility.html" import create_button %}
{% block title %}VRF {{ obj.name }}{% endblock %}

{% block view_metadata %}
<span id="view-metadata"
  data-objType="{{ obj_type }}"
  data-objPk="{{ obj.pk }}"
  data-prettyObjType="{{ obj_type|prettify_obj_type + 's' }}"
  data-getUrl="{{ url('cydhcp-get-record') }}"
  data-objName="{{ obj.name }}">
</span>
{% endblock %}

{% block extra_action_bar %}
  {% if request.user.get_profile().has_perm(request, 2, obj_class=obj_type) %}
    {{ create_button('vrf_kv', url('cydhcp-get-record'),
                     url('vrf_kv'), objName=obj.name,
                     buttonName="VRF Attribute") }}
  {% endif %}
{% endblock %}
